/node_modules
/public/hot
/public/storage
/public/assets/user/frontend/images
/public/assets/admin/js/app.js
/public/assets/user/dashboard/js/app.js
/public/assets/user/frontend/js/mix
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
public/assets/user/frontend/js/app.js
